[data-theme='dark'] {
	--bg-color: #121212;
	--main-color: #8685e7;
	--darker-main: rgba(134, 135, 231, 0.5);
	--white: #fff;
	--darker-white: rgba(255, 255, 255, 0.87);
	--semi-darker-white: rgba(255, 255, 255, 0.5);
	--lighter-gray: rgba(255, 255, 255, 0.67);
	--gray: rgba(255, 255, 255, 0.44);
	--bg-input: #1d1d1d;
	--border-input: #979797;
	--dark-input-text: #535353;
	--modal-color: #363636;
	--plain-button: rgba(255, 255, 255, 0.44);
	--plain-button-disabled: rgba(255, 255, 255, 0.27);
}
[data-theme='light'] {
	--bg-color: #ffffff;
	--main-color: #8685e7;
	--darker-main: rgba(134, 135, 231, 0.5);
	--white: #000000;
	--darker-white: rgb(73, 73, 73);
	--semi-darker-white: rgba(64, 64, 64, 0.5);
	--lighter-gray: rgba(255, 255, 255, 0.67);
	--gray: rgba(255, 255, 255, 0.44);
	--bg-input: #eaeaea;
	--border-input: #9c9c9c;
	--dark-input-text: #b7b7b7;
	--modal-color: #cfcfcf;
	--plain-button: rgba(0, 0, 0, 0.765);
    --plain-button-disabled: rgba(0, 0, 0, 0.364);
}
