@use '../../../sass/base/' as *;
.search-box {
	width: 100%;
	max-width: 40rem;
	padding: 2rem;
	position: relative;
	svg {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 9%;
	}
	.search {
		padding: 1.2rem 1.2rem 1.2rem 4.8rem;
		background-color: var(--bg-input);
		border: 0.8px solid var(--border-input);
		border-radius: 4px;
		font-size: 1.6rem;
		width: 100%;
		color: var(--white);
	}
}
