@use '../../../sass/base/' as *;

.item {
	width: 100%;
	background-color: var(--modal-color);
	display: flex;
	gap: 0.5rem;
	color: var(--darker-white);
	font-size: 1.6rem;
	align-items: center;
	padding: 0.5rem;
	border-radius: 4px;
	position: relative;

	button {
		border: none;
		background-color: transparent;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
	.done {
		padding: 1rem;
	}
	.delete {
		position: absolute;
		right: 10px;
		opacity: 1;
		padding: 1rem;
		transition: opacity 0.3s;
	}
}

.compleated {
	padding: 1rem;
}
