@use '../../../sass/base/' as *;

.checklist {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 10rem;
	color: var(--darker-white);

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.7rem;
		h2 {
			font-size: 2rem;
		}
		p {
			font-size: 1.6rem;
		}
	}
}
