.slider {
	width: 100vw;
	height: max-content;
	overflow: hidden;
	padding: 4rem 0;

	&-container {
		width: 200%;
		height: 100%;
		display: flex;
		align-items: center;
	}

	&-item {
		width: 50%;
		height: max-content;
		display: flex;
		flex-direction: column;
		gap: 4rem;
		align-items: center;
	}
	&-content {
		display: flex;
		gap: 4rem;
		flex-direction: column;
		max-width: max-content;
		position: relative;
	}
	&-link {
		position: absolute;
		top: -4rem;
		color: rgba(255, 255, 255, 0.44);
		background-color: transparent;
		text-transform: uppercase;
		border: none;
		font-size: 1.6rem;
		padding: 1.2rem 2.4rem;
		border: 2px solid transparent;
		border-radius: 4px;
		transition: 0.3s border;
		cursor: pointer;
	}

	&-ctn {
		display: flex;
		flex-direction: column;
		gap: 5rem;
		align-items: center;
	}

	&-dots {
		display: flex;
		gap: 1rem;
	}
	&-btns {
		display: flex;
		gap: 12rem;
	}
}

@media (min-width: 768px) {
	.slider {
		padding: 6rem 0;
	}
}
